# Environment variables for integration tests
PORT=3000
NODE_ENV=test
DATABASE_URL="postgresql://tasks_manager:tasks_manager@localhost:5434/tasks_manager_test?schema=public"
SHADOW_DATABASE_URL="postgresql://tasks_manager:tasks_manager@localhost:5434/tasks_manager_test_shadow?schema=public"
